<div class="ui container middle aligned" style="text-align: left">	
	<div class="ui raised very padded segment" style="margin-top: 100px">

		<h1 class="ui center aligned header">Weighing Quality Sub-Characteristics of Usability</h1>
		<br>		
		<br>
		<%= form_for (@survey), html: {class: 'ui form', name: 'getWeightsForm'} do |form| %>
			<% if @survey.errors.any? %>
			    <div id="error_explanation" class="ui message" style="height: 200px; overflow: scroll; overflow-x: hidden">
			      <h2 class="ui header">
			        <%= pluralize(@survey.errors.count, "error") %> prohibited
			        this survey form from being submitted:
			      </h2>
			      <ul class="ui list">
			        <% @survey.errors.full_messages.each do |msg| %>
			          <li class="item"><%= msg %></li>
			        <% end %>
			      </ul>
			    </div>
			<% end %>

		<div class="ui grid">
			<div class="two column row">
				<div class="column">
					<br>
					<p><strong>Instructions: </strong>Please input your name and check whether you are a user or a developer. Afterwards, please rate the following characteristics according to your preference. The definitions of each characteristic can also be found below if you click on each of the characteristic.</p>
					
					<p><strong>Usability: </strong>degree to which a product or system can be used by specified users to achieve specified goals with effectiveness, efficiency and satisfaction in a specified context of use.</p>
					
					<br>
					<div class="inline field" style="width: 300px">
						<%= form.label :name %>
						<%= form.text_field :name, placeholder: "Last Name, First Name" %>
					</div>
					<br>
					<div class="inline fields">
						<label>I am a:</label>
						<div class="field">
					    	<div class="ui radio checkbox">
					       		<%= form.radio_button :user_type, 'developer', :checked => true %> 
								<%= form.label :user_type, "Developer" %>
					    	</div>
					   	</div>
					   	<div class="field">
					    	<div class="ui radio checkbox">
					       		<%= form.radio_button :user_type, 'user' %>
								<%= form.label :user_type, "User" %>
					     	</div>
					   	</div>
					</div>
					<br>
					<br>
					<p style="text-align: center">The following are the definitions of each quality sub-characteristic under Usability as stated in the <strong>ISO/IEC 25010 Standard Model</strong> and <strong>Technology Acceptance Model</strong>:
					<br>
					<div class="ui list">
						<a class="item">
							<i class="right triangle icon"></i>
							<div class="content">
								<div class="header" style="cursor:pointer" id="fs">Appropriate Recognizability</div>
								<div class="description">This characteristic refers to the degree to which users can recognize whether a product or system is appropriate for their needs.</div>
							</div>
						</a>
						<br>
						<a class="item">
							<i class="right triangle icon"></i>
							<div class="content">
								<div class="header" style="cursor:pointer" id="rel">Learnability </div>
								<div class="description">This characteristic refers to the degree to which a product or system can be used by specified users to achieve specified goals of learning to use the product or system with effectiveness, efficiency, freedom from risk and satisfaction in a specified context of use.</div>
							</div>
						</a>
						<br>
						<a class="item">
							<i class="right triangle icon"></i>
							<div class="content">
								<div class="header" style="cursor:pointer" id="pe">Operability</div>
								<div class="description">This characteristic refers to the degree to which a product or system has attributes that make it easy to operate and control.</div>
							</div>
						</a>
						<br>
						<a class="item">
							<i class="right triangle icon"></i>
							<div class="content">
								<div class="header" style="cursor:pointer" id="op">User Error Protection</div>
								<div class="description">This characteristic refers to the degree to which a system protects users against making errors.</div>
							</div>
						</a>
						<br>
						<a class="item">
							<i class="right triangle icon"></i>
							<div class="content">
								<div class="header" style="cursor:pointer" id="sec">User Interface Aesthetics</div>
								<div class="description">This characteristic refers to the degree to which a user interface enables pleasing and satisfying interaction for the user.</div>
							</div>
						</a>
						<br>
						<a class="item">
							<i class="right triangle icon"></i>
							<div class="content">
								<div class="header" style="cursor:pointer" id="comp">Accessibility</div>
								<div class="description">This characteristic refers to the degree to which a product or system can be used by people with the widest range of characteristics and capabilities to achieve a specified goal in a specified context of use.</div>
							</div>
						</a>
						<br>
					</div>
				</div>
				<div class="column">
					<table class="ui selectable table"> 
						<tbody>
							<tr>
								<td>
									<!-- Functional Suitabiltiy vs Learnability -->
									<h4 class="ui right floated header">Appropriate Recognizability</h4>
									<h4 class="ui left floated header">Learnability</h4>							
									<%= form.range_field :ar_l, :min=>1, :max=>9, :value=>5, :id=>"fr_input_id", :onchange=>"fr(this.value)"%>
									<h5 class="ui green center aligned header" name="fr_output" id="fr_output_id">Equally prefers Learnability and Appropriate Recognizability</h5>
									
								</td>
							</tr>
							<tr>
								<td>
									<!-- Appropriate Recognizability vs Operability -->
									<h4 class="ui right floated header">Appropriate Recognizability</h4>
									<h4 class="ui left floated header">Operability</h4>
									<%= form.range_field :ar_o, :min=>1, :max=>9, :value=>5, :id=>"fp_input_id", :onchange=>"fp(this.value)"%>
									<h5 class="ui green center aligned header" name="fp_output" id="fp_output_id">Equally prefers Operability and Appropriate Recognizability</h5>
								</td>
							</tr>
							<tr>
								<td>
									<!-- Appropriate Recognizability vs User Error Protection -->
									<h4 class="ui right floated header">Appropriate Recognizability</h4>
									<h4 class="ui left floated header">User Error Protection</h4>
									<%= form.range_field :ar_uep, :min=>1, :max=>9, :value=>5, :id=>"fo_input_id", :onchange=>"fo(this.value)"%>
									<h5 class="ui green center aligned header" name="fo_output" id="fo_output_id">Equally prefers User Error Protection and Appropriate Recognizability</h5>
								</td>
							</tr>
							<tr>
								<td>
									<!-- Appropriate Recognizability vs User Interface Aesthetics -->
									<h4 class="ui right floated header">Appropriate Recognizability</h4>
									<h4 class="ui left floated header">User Interface Aesthetics</h4>
									<%= form.range_field :ar_uia, :min=>1, :max=>9, :value=>5, :id=>"fs_input_id", :onchange=>"fs(this.value)"%>
									<h5 class="ui green center aligned header" name="fs_output" id="fs_output_id">Equally prefers User Interface Aesthetics and Appropriate Recognizability</h5>
								</td>
							</tr>
							<tr>
								<td>
									<!-- Appropriate Recognizability vs Accessibility -->
									<h4 class="ui right floated header">Appropriate Recognizability</h4>
									<h4 class="ui left floated header">Accessibility</h4>
									<%= form.range_field :ar_a, :min=>1, :max=>9, :value=>5, :id=>"fc_input_id", :onchange=>"fc(this.value)"%>
									<h5 class="ui green center aligned header" name="fc_output" id="fc_output_id">Equally prefers Accessibility and Appropriate Recognizability</h5>
								</td>
							</tr>

							<tr>
								<td>
									<!-- Learnability vs Operability -->
									<h4 class="ui right floated header">Learnability</h4>
									<h4 class="ui left floated header">Operability</h4>
									<%= form.range_field :l_o, :min=>1, :max=>9, :value=>5, :id=>"rp_input_id", :onchange=>"rp(this.value)"%>
									<h5 class="ui green center aligned header" name="rp_output" id="rp_output_id">Equally prefers Operability and Learnability</h5>
								</td>
							</tr>
							<tr>
								<td>
									<!-- Learnability vs User Error Protection -->
									<h4 class="ui right floated header">Learnability</h4>
									<h4 class="ui left floated header">User Error Protection</h4>
									<%= form.range_field :l_uep, :min=>1, :max=>9, :value=>5, :id=>"ro_input_id", :onchange=>"ro(this.value)"%>
									<h5 class="ui green center aligned header" name="ro_output" id="ro_output_id">Equally prefers User Error Protection and Learnability</h5>
								</td>
							</tr>
							<tr>
								<td>
									<!-- Learnability vs User Interface Aesthetics -->
									<h4 class="ui right floated header">Learnability</h4>
									<h4 class="ui left floated header">User Interface Aesthetics</h4>
									<%= form.range_field :l_uia, :min=>1, :max=>9, :value=>5, :id=>"rs_input_id", :onchange=>"rs(this.value)"%>
									<h5 class="ui green center aligned header" name="rs_output" id="rs_output_id">Equally prefers User Interface Aesthetics and Learnability</h5>
								</td>
							</tr>
							<tr>
								<td>
									<!-- Learnability vs Compatability -->
									<h4 class="ui right floated header">Learnability</h4>
									<h4 class="ui left floated header">Accessibility</h4>
									<%= form.range_field :l_a, :min=>1, :max=>9, :value=>5, :id=>"rc_input_id", :onchange=>"rc(this.value)"%>
									<h5 class="ui green center aligned header" name="rc_output" id="rc_output_id">Equally prefers Accessibility and Learnability</h5>
								</td>
							</tr>

							<tr>
								<td>
									<!-- Operability vs User Error Protection -->
									<h4 class="ui right floated header">Operability</h4>
									<h4 class="ui left floated header">User Error Protection</h4>
									<%= form.range_field :o_uep, :min=>1, :max=>9, :value=>5, :id=>"po_input_id", :onchange=>"po(this.value)"%>
									<h5 class="ui green center aligned header" name="po_output" id="po_output_id">Equally prefers User Error Protection and Operability</h5>
								</td>
							</tr>
							<tr>
								<td>
									<!-- Operability vs User Interface Aesthetics -->
									<h4 class="ui right floated header">Operability</h4>
									<h4 class="ui left floated header">User Interface Aesthetics</h4>
									<%= form.range_field :o_uia, :min=>1, :max=>9, :value=>5, :id=>"ps_input_id", :onchange=>"ps(this.value)"%>
									<h5 class="ui green center aligned header" name="ps_output" id="ps_output_id">Equally prefers User Interface Aesthetics and Operability</h5>
								</td>
							</tr>
							<tr>
								<td>
									<!-- Operability vs Accessibility -->
									<h4 class="ui right floated header">Operability</h4>
									<h4 class="ui left floated header">Accessibility</h4>
									<%= form.range_field :o_a, :min=>1, :max=>9, :value=>5, :id=>"pc_input_id", :onchange=>"pc(this.value)"%>
									<h5 class="ui green center aligned header" name="pc_output" id="pc_output_id">Equally prefers Accessibility and Operability</h5>
								</td>
							</tr>
	
							<tr>
								<td>
									<!-- User Error Protection vs User Interface Aesthetics -->
									<h4 class="ui right floated header">User Error Protection</h4>
									<h4 class="ui left floated header">User Interface Aesthetics</h4>
									<%= form.range_field :uep_uia, :min=>1, :max=>9, :value=>5, :id=>"os_input_id", :onchange=>"os(this.value)"%>
									<h5 class="ui green center aligned header" name="os_output" id="os_output_id">Equally prefers User Interface Aesthetics and User Error Protection</h5>
								</td>
							</tr>
							<tr>
								<td>
									<!-- User Error Protection vs Accessibility -->
									<h4 class="ui right floated header">User Error Protection</h4>
									<h4 class="ui left floated header">Accessibility</h4>
									<%= form.range_field :uep_a, :min=>1, :max=>9, :value=>5, :id=>"oc_input_id", :onchange=>"oc(this.value)"%>
									<h5 class="ui green center aligned header" name="oc_output" id="oc_output_id">Equally prefers Accessibility and User Error Protection</h5>
								</td>
							</tr>
	

							<tr>
								<td>
									<!-- User Interface Aesthetics vs Accessibility -->
									<h4 class="ui right floated header">User Interface Aesthetics</h4>
									<h4 class="ui left floated header">Accessibility</h4>
									<%= form.range_field :uia_a, :min=>1, :max=>9, :value=>5, :id=>"sc_input_id", :onchange=>"sc(this.value)"%>
									<h5 class="ui green center aligned header" name="sc_output" id="sc_output_id">Equally prefers Accessibility and User Interface Aesthetics</h5>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
		<br>
		<div class="ui grid center aligned">
			<div class="three column row">
				<div class="column"></div>
				<div class="column">
						<%= form.submit "Submit Survey", class: "positive ui button" %>
						<br>
					<% end %>
				</div>
				<div class="column"></div>
			</div>
		</div>
	</div>
</div>

<!-- modals -->
<div class="ui small modal" id="fsmodal">
	<i class="close icon"></i>
	<div class="header">Appropriate Recognizability</div>
	<div class="content">
		<p>This characteristic represents the degree to which a product or system provides functions that meet stated and implied needs when used under specified conditions.</p>
	</div>
</div>
<div class="ui small modal" id="relmodal">
	<i class="close icon"></i>
	<div class="header">Learnability</div>
	<div class="content">
		<p>This characteristic refers to the degree to which a system, a product or component performs specified functions under specified conditions for a specified period of time.</p>
	</div>
</div>
<div class="ui small modal" id="pemodal">
	<i class="close icon"></i>
	<div class="header">Operability</div>
	<div class="content">
		<p>This characteristic represents the performance relative to the amount of resources used under stated conditions.</p>
	</div>
</div>
<div class="ui small modal" id="opmodal">
	<i class="close icon"></i>
	<div class="header">User Error Protection</div>
	<div class="content">
		<p>This characteristic refers to the degree to which a product or system can be used by specified users to achieve specified goals with effectiveness, efficiency and satisfaction in a specified context of use.</p>
	</div>
</div>
<div class="ui small modal" id="secmodal">
	<i class="close icon"></i>
	<div class="header">User Interface Aesthetics</div>
	<div class="content">
		<p>This characteristic refers to the degree to which a product or system protects information and data so that persons or other products or systems have the degree of data access appropriate to their types and levels of authorization.</p>
	</div>
</div>
</div>
<div class="ui small modal" id="compmodal">
	<i class="close icon"></i>
	<div class="header">Accessibility</div>
	<div class="content">
		<p>This characteristic refers to the degree to which a product, system or component can exchange information with other products, systems or components, and/or perform its required functions, while sharing the same hardware or software environment.</p>
	</div>
</div>
<div class="ui small modal" id="maintmodal">
	<i class="close icon"></i>
	<div class="header">Perceived Usefulness</div>
	<div class="content">
		<p>This characteristic represents the degree of effectiveness and efficiency with which a product or system can be modified to improve it, correct it or adapt it to changes in environment, and in requirements.</p>
	</div>
</div>
<div class="ui small modal" id="transmodal">
	<i class="close icon"></i>
	<div class="header">Perceived Ease of Use</div>
	<div class="content">
		<p>This characteristic refers to the degree of effetiveness and efficiency with which a system, product or component can be transferred from one hardware, software or other operational or usage environment to another.</p>
	</div>
</div>